//@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css');
.accordion {

    .tab__header {
        .tab__link {
            background: white;
            width: 100%;
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            color: #686868 !important;
            font-size: 14px;
            padding: 11px;
            padding-left: 9px !important;
            border-bottom: solid 1px #e9e9e9;

            .down-Arrow svg,
            .up-Arrow svg {
                color: green;
                font-size: 15px;
            }
        }
    }

    .tab__content {
        padding: 11px;
        padding-left: 9px !important;
        border-bottom: solid 1px #e9e9e9;
    }
}


.frequent-questions {

    .accordion:last-child {

        .tab__link,
        .tab__content {
            border-bottom: none;
        }
    }
}
.fi-bs-chevron-double-down, .fi-bs-chevron-double-up{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 10px;
}
